In [ ]:
'''
作業目標:

敘述統計量計算
運用自定義函數apply
作業重點:

了解敘述統計量並解釋
運用apply時須注意自定義函數寫法
題目
對以下成績資料做分析

6號學生(student_id=6)3科平均分數為何?
6號學生3科平均分數是否有贏過班上一半的同學?
由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
承上題，加分後各科班平均變多少?
score_df = pd.DataFrame([[1,56,66,70], [2,90,45,34], [3,45,32,55], [4,70,77,89], 
[5,56,80,70], [6,60,54,55], [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]],
columns=['student_id','math_score','english_score','chinese_score'])
'''

In [48]:
import pandas as pd
import numpy as np

In [26]:
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [28]:
#6號學生(student_id=6)3科平均分數為何?
score_df.loc[6].mean()

56.333333333333336

In [36]:
#6號學生3科平均分數是否有贏過班上一半的同學?
#判斷是否有大於中位數
mean_score_df = score_df.mean(axis=1)
#print('6號學生(student_id=6)3科平均分數:',score_df.loc[6].mean())
#print('中位數:',mean_score_df.median())
print('6號學生3科平均分數是否有贏過班上一半的同學:',score_df.loc[6].mean() >mean_score_df.median())

6號學生3科平均分數是否有贏過班上一半的同學: False

In [43]:
#由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
score_df_plus=score_df.apply(lambda x : x**(0.5)*10)
print('6號同學3科成績分別是:\n',score_df_plus.loc[6])

6號同學3科成績分別是:
 math_score       77.459667
english_score    73.484692
chinese_score    74.161985
Name: 6, dtype: float64

In [44]:
#承上題，加分後各科班平均變多少?
score_df_plus.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64

In [45]:
score_df.mean()

math_score       56.9
english_score    62.8
chinese_score    63.1
dtype: float64

In [46]:
'''1. 根據題目給的 DataFrame 完成下列操作：
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
'''

'1. 根據題目給的 DataFrame 完成下列操作：\n- 計算每個不同種類 animal 的 age 的平均數\n- 計算每個不同種類 animal 的 age 的平均數\n- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序\n- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False\n'

In [49]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [54]:
#- 計算每個不同種類 animal 的 age 的平均數
df.groupby('animal').mean()

        age  visits
animal
cat     2.5     2.0
dog     5.0     2.0
snake   2.5     1.5

In [56]:
#- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [57]:
#- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df["priority"].replace({"yes": True, "no": False}, inplace=True)
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [58]:
#2. 一個包含兩個欄位的 DataFrame，將每個數字減去
#該欄位的平均數
#該筆資料平均數

In [59]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.570880  0.239898  0.355872
1  0.801458  0.978832  0.271453
2  0.626255  0.144389  0.766753
3  0.688408  0.555674  0.062927
4  0.374378  0.261069  0.908840

In [60]:
#df-該欄位的平均數
df - df.mean()

          0         1         2
0 -0.041396 -0.196074 -0.117297
1  0.189182  0.542860 -0.201716
2  0.013980 -0.291583  0.293584
3  0.076132  0.119702 -0.410242
4 -0.237898 -0.174904  0.435671

In [61]:
#df-該筆資料平均數
df.sub(df.mean(axis=1) ,axis=0)

          0         1         2
0  0.181997 -0.148985 -0.033012
1  0.117543  0.294918 -0.412461
2  0.113790 -0.368077  0.254287
3  0.252738  0.120005 -0.372743
4 -0.140384 -0.253694  0.394078

In [62]:
'''3. 承上題，請問：
哪一筆的資料總合最小
哪一欄位的資料總合最小
'''

'3. 承上題，請問：\n哪一比的資料總合最小\n哪一欄位的資料總合最小\n'

In [67]:
#哪一筆的資料總合最小
df.sum(axis=1).argmin()

0

In [68]:
#哪一欄位的資料總合最小
df.sum().argmin()

1